html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    top: 0;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    border-color: #d9534f;
}

/* styling for buttons from Uiverse.io by mobinkakei, with some changes */ 
.navbar .nav-link{
    display: flex;
    background-color: #d9534f; 
    color: white;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: 1s;
    box-shadow: 3% 3% 0 black;
    transform: skewX(-15deg);
    border: none;
    /*cursor: pointer;*/
}

.navbar .nav-link:focus {
    outline: none;
}

.navbar .nav-link:hover {
    transition: 0.5s;
    box-shadow: 6px 6px 0 #fbc638;
}

.navbar .nav-link.second {
    transition: 0.5s;
    margin-right: 0px;
}

.navbar .nav-link:hover.second {
    transition: 0.5s;
    margin-right: 25%;
}

.span {
    transform: skewX(15deg);
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}
  
.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.navbar .nav-link:hover.three {
    animation: color_anim 1s infinite 0.2s;
}
  
.navbar .nav-link:hover.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}
  
.navbar .nav-link:hover.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: #fbc638;
    }
  
    100% {
      fill: white;
    }
}


.navbar-brand {
    font-size: 22px;
    color: red;
    background-color: white;
    font-family: 'Lucida Console', monospace;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h1 {
    color: #d9534f; 
    font-size: 36px;
    text-align: center;
}

h2 {
    text-align: left; 
    color: #d9534f; 
    font-size: 24px;
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

p {
    background-color: #d9534f;
    text-align: left;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

ul {
    background-color: #d9534f;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    list-style-type: none;
}

#rio, #motors, #elevator-specs {
    background-color: #d9534f;
    text-align: left;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    list-style-type: none;
}
    