html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    top: 0;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    z-index: 10;
}


/* styling for buttons from Uiverse.io by mobinkakei, with some changes to fit with code*/ 
.navbar .nav-link{
    display: flex;
    background-color: #d9534f; 
    color: white;
    font-size: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: 1s;
    box-shadow: 3% 3% 0 black;
    transform: skewX(-15deg);
    border: none;
    /*cursor: pointer;*/
}

.navbar .nav-link:focus {
    outline: none;
}

.navbar .nav-link:hover {
    transition: 0.5s;
    box-shadow: 6px 6px 0 #fbc638;
}

.navbar .nav-link.second {
    transition: 0.5s;
    margin-right: 0px;
}

.navbar .nav-link:hover.second {
    transition: 0.5s;
    margin-right: 25%;
}

.span {
    transform: skewX(15deg);
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}
  
.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.navbar .nav-link:hover.three {
    animation: color_anim 1s infinite 0.2s;
}
  
.navbar .nav-link:hover.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}
  
.navbar .nav-link:hover.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: #fbc638;
    }
  
    100% {
      fill: white;
    }
}
/*end of button code*/

.navbar-brand {
    font-size: 22px;
    font-family: 'Lucida Console', monospace;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h1 {
    color: #d9534f; 
    font-size: 36px;
    text-align: center;
}

h2 {
    text-align: left; 
    color: #d9534f; 
    font-size: 24px;
}

div {
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

p {
    background-color: #d9534f;
    text-align: left;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

ts {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

#subsystem_img, #home_img {
    max-width: 50%;
    max-height: 50%;
}

#table {
    margin-top: 0%;
}

.about-p {
    text-align: left;
    color: color;
    padding: 0%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #d9534f;
    width: 50%;
} 

.gif_player {
    border: 0;
    position: relative;
    color: color;
    padding: 0%;
    z-index: 1;
}

.about_img {
    width: 50%;
    height: 50%;
    position: relative;
}

.qr_code {
    width: 30%;
    height: 30%;
    float: center;
    border-radius: 25px;
    border-color: #d9534f;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.touchscreen {
    text-align: center;
    color: #e04f0dff;
    padding: 0;
    display:inline;
    background-color: aquamarine;
    animation: flash 1s infinite;
}

.topnav {
    background-color: #d9534f;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #FFF;
    color: #d9534f;
}

.topnav a.active {
    background-color: #fbc638;
    color: white;
}